<%- include('../partials/head') %>
<%- include('../partials/nav') %>

<main class="page-content">
    <%- include('../partials/flash') %>
    <%- body %>
</main>

<%- include('../partials/footer') %>
